/* 
Assignment - Yadwinderpal Singh
style 2  
*/

body {
    overflow: hidden;
    font-family: 'open sans', sans-serif;
    margin: 0
}

.visible-s-1,
.visible-s-3,
.hidden-s-2 {
    display: none !important
}


/*-------------------------------------------
------------------ Navbar -------------------
-------------------------------------------*/

header {
    max-width: 160px;
}

.navbar {
    position: absolute;
    margin: 0;
    left: 0;
    display: inline-block;
    background: #e74c3c;
    height: 100%;
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.logo {
    float: left;
    max-width: 155px;
    padding: 20px 10px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav ul {
    text-align: center;
}

.nav ul>li>a {
    font-family: 'open sans', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 20px 50px;
    color: #383339;
    font-weight: 400;
    display: inline-block;
    min-width: 160px;
}

.nav ul>li>a:focus,
.nav ul>li>a:hover,
.nav ul>li.active>a {
    background-color: #383339 !important;
    color: #e74c3c;
}


/*-------------------------------------------
------------------ Content ------------------
-------------------------------------------*/

#content {
    width: calc(100% - 160px) !important;
    float: right;
}

.container {
    width: 100%;
    height: 100%;
}

#content h1:after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background: #e74c3c;
    position: absolute;
    margin-top: 35px;
    margin-left: -60px;
}

body.home #content h2:after, body.aboutus #content h2:after, body.services #content h2:after{
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background: #e74c3c;
    position: relative;
    top: 12px;
    margin-left: -60px;
}

.poster-wrapper>h2:after{
    background: transparent !important
}

body.home #content, body.aboutus #content {
    overflow-y: auto;
}

p {
    color: #827F7F;
    font-size: 16px;
    font-weight: 100
}

/*---------------- home -------------------*/

.poster {
    width: 100%;
    margin: 0 0 -5px;
    background: url("/images/agency.jpeg") no-repeat;
    background-size: cover;
    display: inline-block;
}

.poster .poster-wrapper {
    width: 800px;
    background: #000;
    opacity: 0.7;
    padding: 50px;
    text-align: right;
    float: right;
    margin: 385px 50px 0 0;
}

.poster .poster-wrapper h1 {
    margin: 0 0 20px !important;
    line-height: 1;
    font-size: 32px !important;
    text-transform: uppercase !important;
}

.poster-wrapper h1:after {
    position: relative !important;
    margin-top: 0 !Important;
    top: 10px;
}

.poster .poster-wrapper h2 {
    color: #fff;
    font-weight: 100;
    margin: 0;
}

.who-we-are, .quick-contact {
    float: left;
    width: 50%;
    min-height: 350px;
    padding: 40px 0 !important;
}

.who-we-are h2 {
    margin: 0 0 30px;
}

.who-we-are {
    background: #383339 !important;
    text-align: center;
}

.who-we-are,
.works {
    display: inline-block;
    color: #fff;
}

.who-we-are h2, .works h2, .quick-contact h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0 60px;
}

.who-we-are p {
    padding: 10px 60px;
}

.quick-contact {
    background: url("/images/quick-contact.jpg");
    padding: 40px 0;
    text-align: center;
}

.quick-contact h2 {
    color: #ffffff;
    margin: 0 0 10px;
}

.quick-contact h3 {
    font-size: 22px;
    font-weight: 300;
    color: #827F7F;
}

.quick-contact a {
    color: #e74c3c;
    font-weight: bold;
    font-size: 20px;
}

.works {
    background: #fff;
    padding: 20px 0;
}

.works h2 {
    color: #000000;
    margin: 30px;
    text-align: center;
}

.works .portfolio,
.works .portfolio-item {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: -6px;
}

.works .portfolio-item figure,
.works .portfolio-item .item-content {
    width: 50%;
    float: left;
    height: auto;
    color: #fff;
}

.works .portfolio-item figure a {
    display: block;
    background: url("/images/portfolio.jpg") no-repeat 50% 50%;
    min-height: 500px;
    background-size: cover;
}

.works .portfolio-item .item-content {
    padding: 50px 60px;
    text-align: left;
}

.works .portfolio-item .item-content h3 {
    margin: 0 0 15px 0;
    font-size: 20px;
}

.works .portfolio-item .item-content p {
    margin: 0;
}

.works .portfolio-item .item-content p strong {
    font-weight: 900;
    color: #ffffff;
}

.works .portfolio-item .item-content p + p + p {
    margin: 15px 0 30px;
}

.works .portfolio {
    padding: 40px 0 50px;
}

.portfolio-item {
    background: #000;
}

.works a.btn {
    max-width: 120px;
    margin: 0 auto;
}

.works .site-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    text-decoration: underline;
}

/*----------------- About --------------------*/

.about{
    float: left;
    padding: 50px;
    width: 50%;
    text-align: center;
    color: #ffffff;
    min-height: 300px;
}

.about h2 {
    font-size: 26px;
    font-weight: 400;
}

.about-1, .about-4{
    background: #3e393f
}

.about-2, .about-3{
    background: #383339
}

.team{
    padding: 40px;
    display: inline-block;
    width: 100%;
}

.team h2{
    text-align: center
}

.team .team-member {
    width: 25%;
    float: left;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.team-member figure img {
    width: 100%;
    border: 3px solid #e74c3c;
}

.team-member h3 {
    margin: 5px;
    font-weight: 300;
}

.team-member h4 {
    margin: 0;
    font-size: 16px;
    color: #e74c3c;
}

/*----------------- Services --------------------*/

.our-services{
    text-align: center;
    padding: 20px 80px;
}

.our-services h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 30px;
}

.our-services p {
    margin-bottom: 30px;
}

.service {
    float: left;
    width: 25%;
    padding: 30px 15px;
}

.service .fa {
    color: #e74c3c;
    font-size: 36px;
    border: 3px solid #827F7F;
    height: 80px;
    width: 80px;
    line-height: 2;
    border-radius: 50%;
}

/*----------------- Contact --------------------*/

body.contactus #content {
    background: url("/images/contact.jpg");
    background-size: cover;
}

#content h1 {
    margin: 22px 40px 0 0;
    font-size: 24px;
    text-align: right;
    color: #fff;
    font-weight: 100;
    text-transform: lowercase;
}

.contact,
.map {
    background: #383339;
    opacity: 0.9;
    display: inline-block;
    width: 100%;
}

#contact-form {
    margin: 40px;
}

#contact-form .form-group {
    position: relative;
}

#contact-form .form-group label {
    position: absolute;
    top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #e74c3c;
    z-index: -1;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

#contact-form .form-control:focus + label {
    top: -20px;
    color: #fff;
}

#contact-form .form-control.input-filled + label {
    top: -20px;
}

#contact-form .form-control {
    padding: 10px 0;
    width: 100%;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 14px;
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-color: #e74c3c;
    box-shadow: none;
}

#contact-form .form-control:focus {
    border-bottom-color: #ffffff;
}

#contact-form textarea {
    max-width: 100%;
    min-width: 100%;
}

.btn {
    background: none;
    border-color: #e74c3c;
    color: #e74c3c;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #fff;
    background: #e74c3c
}

.map iframe {
    width: 100%;
    height: 100%
}

.call-fax,
.social {
    background: #383339;
    opacity: 0.8;
    display: inline-block;
    width: 100%;
    text-align: center
}

.call-fax h1 {
    text-align: left !important;
    margin: 22px 0 0 40px !important;
}

.call-fax h1:after {
    margin-top: 35px;
    margin-left: -105px !important
}

.social ul,
.call-fax ul {
    text-align: center;
    display: inline-block;
    margin-top: 15px;
}

.social ul li,
.call-fax ul li {
    float: left;
    padding: 5px;
    text-align: center;
}

.social ul li a,
.call-fax ul li a {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    font-size: 20px;
    color: #e74c3c;
}

.social ul li a:hover,
.call-fax ul li a:hover {
    background: #e74c3c;
    color: #ffffff;
}


/*-------------------------------------------
-------------- Style Switcher ---------------
-------------------------------------------*/

#style-switcher {
    border-color: #e74c3c !important;
}

#toggle-switcher {
    border-color: #e74c3c !important;
}

#toggle-switcher [class*=fa] {
    color: #e74c3c;
}

#style-switcher h1 {
    color: #e74c3c;
}

#style-switcher ul li {
    border-color: #e74c3c;
    color: #e74c3c;
}

#style-switcher ul li:hover,
#style-switcher ul li.active {
    background: #383339;
    color: #e74c3c;
    border-color: transparent;
}